.uiverse-btn {
  --i: #22c55e;       /* sera surchargé par le style inline */
  --j: #16a34a;
  background-color: #fff;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  cursor: pointer;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  border: none;
  overflow: hidden;
}

.uiverse-btn:active {
  transform: scale(1.2);
}

.uiverse-btn:hover {
  width: 180px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0);
}

.uiverse-btn::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: 0.5s;
}

.uiverse-btn:hover::before {
  opacity: 1;
}

.uiverse-btn::after {
  content: '';
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  filter: blur(15px);
  transition: 0.5s;
  z-index: -1;
  opacity: 0;
}

.uiverse-btn:hover::after {
  opacity: 0.5;
}

.uiverse-btn .icon {
  z-index: 1;
  transition: 0.5s;
  transition-delay: 0.25s;
}

.uiverse-btn:hover .icon {
  transform: scale(0);
  color: #fff;
  transition-delay: 0s;
}

.uiverse-btn .title {
  position: absolute;
  color: #fff;
  font-size: 1em;
  letter-spacing: 0.05em;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
  font-weight: 600;
  z-index: 1;
}

.uiverse-btn:hover .title {
  transform: scale(1);
  transition-delay: 0.25s;
}
